[submodule "Phaser"]
	path = Phaser
	url = https://github.com/photonstorm/phaser
[submodule "Blockly"]
	path = Blockly
	url = https://github.com/google/blockly
[submodule "JSInterpreter"]
	path = JSInterpreter
	url = https://github.com/NeilFraser/JS-Interpreter
